.title, .title:visited {
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    margin: 10px;
}
.title:hover {
    color: rgb(80, 79, 71);
    border-width: 5px;
    border-color: #f9f7fa;
}

.item{
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  background-color: #e3dce6;
  color: aliceblue;
  margin: auto 10px 10px 10px;
}

.item:hover {
  color: white;
  background-color: #d6d2d6;
  border-radius: 3px;
}
.item:active {
  background-color: black;
}

nav {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding-left: 0;
  background-color: #ffffff;
  width: 100%;
  margin: 0 0 1rem 0;
}