/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(65, 65, 65);
}

h2 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

button {
    color: black;
}

label {
    color: aliceblue;
}

div {
    color: aliceblue;
}

a {
    color: aliceblue;
}

ul {
    color: aliceblue;
}

li{
    color: aliceblue;
}